body {
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

div.main {
    background-color: white;
    border-radius: 15px;
    border-bottom-right-radius: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 320px;
    min-height: 250px;
}

div.input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px 30px;
    margin: 20px;


}

div.main div.year,
div.main div.month,
div.main div.day {
    display: flex;
    flex-direction: column;
}


div.main div label {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #8c8c8c;
    margin: 1px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 12px;
    padding-bottom: 8px;
}


div.main div input {
    border: 1px #e2e2e2 solid;
    border-radius: 7px;
    font-size: 28px;
    padding: 8px 13px;
    width: 50%;
    font-weight: 600;
}


/* button */
div.main div.btn{
    position: relative;
}
hr{
    color: #ececec;
    /* padding-left: 40px; */

    width: 87%;
    
}

div.main div.btn img{
width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 0.1fr; */
}
div.main div.btn button {
    width: 15%;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 60px;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}




/* results */
div.result {
    padding: 35px 40px;

}

div.result p {
    margin: 0;
    line-height: 1.1;
    font-weight: 800;
    font-style: italic;
}

#new-years {
    font-size: 70px;
    color: #864cff;
    font-weight: 800;
}

#new-months {
    font-size: 70px;
    color: #864cff;
    font-weight: bold;
}

#new-days {
    font-size: 70px;
    color: #864cff;
    font-weight: bold;
}

p.year-result {
    font-size: 70px;
    font-weight: bold;
}

p.month-result {
    font-size: 70px;
    font-weight: bold;
}

p.days-result {
    font-size: 70px;
    font-weight: bold;
}


@media screen and (max-width: 375px) {
    div.main div input {
        font-size: 18px;
    }

    div.main div.btn button {
        width: 20%;

        border: none;
        background: none;
        cursor: pointer;
        border-radius: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #new-days ,
    #new-months ,
    #new-years ,
    p.year-result,
    p.month-result,
    p.days-result{
        font-size: 45px;
    }
    div.input {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px 15px;
        margin: 20px;
    }

}