/* section{
    position: relative;
} */

body{
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Space Grotesk', sans-serif;} */
}
div.main {
    background-color: white;
    border-radius: 15px;
    border-bottom-right-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 320px;
    min-height: 250px;
}

div.input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


div.main div.day {

    display: flex;
    flex-direction: column;
}

div.main div.month {

    display: flex;
    flex-direction: column;
}

div.main div.year {

    display: flex;
    flex-direction: column;
}

div.main div label {
    margin-bottom: 15px;
}


div.main div input {
    font-size: 17px;
    padding: 10px 20px;
    width: 50%;
}

div.main div.btn {
    display: flex;
    justify-content: center;
}

div.main div.btn button {
    font-size: 20px;
    padding: 10px 20px;
}




/* results */
div.result p{
    margin: 0;
}
#new-years{
    font-size: 80px;
    color: #864cff;
    font-weight: 800;
}

#new-months{
    font-size: 80px;
    color: #864cff;
    font-weight: bold;
}

#new-days{
    font-size: 80px;
    color: #864cff;
    font-weight: bold;
}

p.year-result{
    font-size: 70px;
    font-weight: bold;
}

p.month-result{
    font-size: 70px;
    font-weight: bold;
}

p.days-result{
    font-size: 70px;
    font-weight: bold;
}
