/* section{
    position: relative;
} */

div.main {
    background: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 320px;
    min-height: 250px;
}

div.input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

div.main div {
    margin: 15px 5px;
    /* display: flex;
    flex-direction: column; */
    font-size: 23px;
}

div.main div.day {

    display: flex;
    flex-direction: column;
}

div.main div.month {

    display: flex;
    flex-direction: column;
}

div.main div.year {

    display: flex;
    flex-direction: column;
}

div.main div label {
    margin-bottom: 15px;
}


div.main div input {
    font-size: 17px;
    padding: 10px 20px;
    width: 50%;
}

div.main div.btn {
    display: flex;
    justify-content: center;
}

div.main div.btn button {
    font-size: 20px;
    padding: 10px 20px;
}